#header {
  position: sticky;
  top: 0;
  @include set-box(130px, 100%);

  // banner
  .banner {
    @include set-box(30px);
    background: #000;

    .banner_ul {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 20px;
      line-height: 26px;
    }
    .banner_li a {
      color: #fff;
      font-size: 14px;
    }
    .banner_li::after {
      position: absolute;
      top: 9px;
      margin-left: 10px;
      content: "";
      width: 1px;
      height: 12px;
      background: #fff;
    }
    .banner_li:nth-child(2)::after {
      display: none;
    }
  }

  // header01
  // .header01 {
  //   width: 100%;
  //   height: 30px;
  //   background: #ddd;

  //   .header01_ul {
  //     display: flex;
  //     justify-content: end;
  //     column-gap: 20px;
  //   }
  //   .header01_li {
  //     line-height: 26px;
  //   }
  //   .header01_li a {
  //     font-size: 14px;
  //   }
  // }

  // header02
  .header02 {
    @include set-box(100px);
    position: relative;
    display: flex;
    border: 1px solid #000;

    color: #fff;
    background: #000;

    .gnb {
      display: flex;
      align-items: center;

      .header_logo {
        display: inline-block;
        filter: invert(100);
      }
      .gnb_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .gnb_ul {
        display: flex;
        column-gap: 20px;
        margin-left: 100px;
      }

      .right_gnb {
        display: flex;
        column-gap: 20px;
      }
    }
  }
}

// contents
#contents {
  @include set-box(100vh, 100%);

  // section01
  #section01 {
    @include set-box(100vh, 100%);
    margin-top: -130px;
    // background: url("../img/220823_S23_Bouldering_TheFarm_Lebeau_01767web_2x.png") no-repeat center / cover;
    border: 1px solid red;
    padding: 100px 0;
    overflow: hidden;
    
    .slide {
      display: flex;
      margin-left: 200px;
      margin-top: 130px;
    }
  }
}
